@font-face {
    font-family: 'Work Sans-Local';
    src: url(../font/work-sans.ttf);
}
@font-face {
    font-family: 'Source Code Pro-Local';
    src: url(../font/source-code-pro.ttf);
}
/* #AIM-FOR-DEBUGGING,
* {
    outline: 1px solid #000000;
    background: rgba(255, 0, 0, 0.1) fixed;
} */
html body {
    --dark: #212529;
    --light: #f8f9fa;
    font-family: 'Work Sans-Local', sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}
*::selection {
    color: var(--light);
    background-color: var(--dark);
}
button,
a {
    cursor: pointer;
}
span.anchor {
    height: 4.5rem;
    display: block;
    position: relative;
    visibility: hidden;
    margin-top: -4.5rem;
}
span.anchor-3 {
    height: 7.5rem;
    display: block;
    position: relative;
    visibility: hidden;
    margin-top: -7.5rem;
}
header,
main {
    animation-name: fade;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.h-73px {
    height: 73px !important;
}
.pt-73px {
    padding-top: 73px !important;
}
.w-25rem {
    width: 22.75rem !important;
}
.pre-page {
    height: 44vh !important;
    border-radius: 12px !important;
    border: 5px solid var(--bs-border-color) !important;
}
.single-page {
    padding-top: 73px !important;
    min-height: calc(100vh - 73px) !important;
}
.text-magenta {
    color: #c208c2 !important;
}
.border-magenta {
    border: 1px solid #c208c2 !important;
}
.btn-outline-magenta {
    color: #c208c2 !important;
    border: 1px solid #c208c2 !important;
}
.btn-outline-magenta:hover {
    color: #ffffff !important;
    background: #c208c2 !important;
}
