@font-face {
    font-family: 'Work Sans-Local';
    src: url(../font/WorkSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Source Code Pro-Local';
    src: url(../font/SourceCodePro-VariableFont_wght.ttf);
}
html body {
    font-family: 'Work Sans-Local', sans-serif;
    --light: #f8f9fa;
    --dark: #212529;
}
body::-webkit-scrollbar {
    display: none;
}
*::selection {
    color: var(--light);
    background-color: var(--dark);
}
.navbar-brand,
.card-title,
u {
    font-weight: bold;
}
button,
a {
    cursor: pointer;
}
span.anchor {
    height: 4.5rem;
    display: block;
    position: relative;
    visibility: hidden;
    margin-top: -4.5rem;
}
span.anchor-3 {
    height: 7.5rem;
    display: block;
    position: relative;
    visibility: hidden;
    margin-top: -7.5rem;
}
@-webkit-keyframes shadow-drop-center {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0.25rem 0.25rem rgba(255, 255, 255, 0.75);
        -webkit-box-shadow: 0 0 0.25rem 0.25rem rgba(255, 255, 255, 0.75);
    }
}
@keyframes shadow-drop-center {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0.25rem 0.25rem rgba(255, 255, 255, 0.75);
        -webkit-box-shadow: 0 0 0.25rem 0.25rem rgba(255, 255, 255, 0.75);
    }
}
.shadow-breathing {
    animation: shadow-drop-center 0.5s ease-in-out infinite alternate both;
    -webkit-animation: shadow-drop-center 0.5s ease-in-out infinite alternate both;
}
