<head>
    <title>Rayatiga - Information Technology Agency</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Rayatiga - Information Technology Agency" />
    <meta
        name="description"
        content="Rayatiga is an engaged in fast web development technology. We can help develop your website based on CMS WordPress." />
    <meta name="author" content="Rayatiga" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://rayatiga.com/" />
    <meta property="og:title" content="Rayatiga - Information Technology" />
    <meta
        property="og:description"
        content="Rayatiga is an engaged in fast web development technology. We can help develop your website based on CMS WordPress." />
    <meta property="og:image" content="https://rayatiga.com/asset/image/rayatiga-og.png" />
    <link rel="stylesheet" href="/asset/css/main.css" />
    <link rel="stylesheet" href="/asset/css/bootstrap.css" />
    <link rel="stylesheet" href="/asset/css/bootstrap.css.map" />
    <link rel="stylesheet" href="/asset/css/bootstrap-icons.css" />
    <script defer type="text/javascript" src="/asset/javascript/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/asset/css/aos.css" />
    <script defer type="text/javascript" src="/asset/javascript/aos.js"></script>
    <link rel="stylesheet" href="/asset/css/prism.css">
    <script defer type="text/javascript" src="/asset/javascript/prism.js"></script>
    <script defer type="text/javascript" src="/asset/javascript/jquery.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
</head>
